@model WebApplication1.Models.todolist
@{

    ViewBag.Title = "代辦事項";
    if (Session["userid"] == null)
    {
        Response.Redirect("~/Game/login");
    }
}
<h2>@ViewBag.Title</h2>
@Scripts.Render("~/bundles/jqueryval")


<div>
    <br />
    <table border="1">
        <tr>
            <td width="150" align="center">會員名稱</td>
            <td width="150" align="center">代辦事項</td>
            <td width="150" align="center">完成狀態</td>
            <td width="150" align="center">刪除</td>
        </tr>
        @{
            foreach (var list1 in ViewBag.todolist)
            {
                if (list1.statu == "0 ")
                {
                    <tr>
                        <td>@list1.userid</td>
                        <td>@list1.staff</td>
                        <td>未完成</td>
                        @using (Html.BeginForm("Deletestaff", "Todolist", FormMethod.Post))
                        {
                            <td align="center"><button value="@list1.staffid" name="button">刪除</button></td>
                        }
                    </tr>
                }
            }
        }
    </table>
    <br />
    @using (Html.BeginForm("Addnewstaff", "Todolist", FormMethod.Post))
    {
        <Label>新增代辦事項</Label><br />
        <input type="text" width="1000" name="addnewstaff"><button name="add" onclick="loadXMLDoc()">新增</button>
    }

</div>

<script>
    function loadXMLDoc() {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Todolist/TodoList", true);
        xmlhttp.send();
    }

</script>
